@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Teko&display=swap');

html {
    background-image: linear-gradient(to bottom, rgb(58, 58, 58), black);
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: aliceblue;
}

button {
  transition: transform 0.3s;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  background-color: rgb(77, 77, 145);
  color: aliceblue;
  border-radius: 3px;
  border-style: none;
}

button:hover {
    transform: scale(1.05);
    background-color: rgb(33, 33, 62);
}

select {
    background-color: rgb(30, 30, 96);
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.1s;
}

select:hover {
    box-shadow: 0px 0px 10px rgb(103, 103, 103);
}

#top {
    background-color: rgb(89, 125, 209);
    color: aliceblue;
    margin: 0;
    padding: 0;
}

#plate-display-left {
    display: flex;
    align-items: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /* float: left; */
    /* float: right; */
}

#plate-display-right {
    display: flex;
    align-items: center;
    /* float: left; */
    /* float: right; */
}

#plate-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

#amount-el {
    background-image: -webkit-linear-gradient(rgb(179, 178, 178), rgb(109, 109, 109));
    padding-left: 65px;
    padding-right: 65px;
    color: aliceblue;
    height: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.595);
}

.hide {
    display: none;
}

.plate-selection {
    margin-top: 1%;
    border-radius: 5px;
    padding: 2%;
    padding-bottom: 10px;
    background-color: rgb(95, 95, 198);
    color: aliceblue;
}

#plate-list {
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
    background-color: rgb(172, 172, 255);
}

#plate-options-menu {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    max-height: 150px;
    overflow: auto;
    background-color: rgb(23, 23, 82);
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

#new-bar-form {
    background-color: rgba(64, 64, 159, 0.366);
    margin-top: 100px;
}