#plate-display-left {
    display: flex;
    align-items: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: left;
    /* border-style: dashed; */
    /* border-radius: 5px; */
    /* border-color: blue; */
}

#plate-display-right {
    display: flex;
    align-items: center;
    float: right;
    /* border-style: dashed; */
    /* border-radius: 5px; */
    /* border-color: blue; */
}

#plate-display {
    margin-bottom: 90px;
}

body {
    text-align: center;
}

.hide {
    display: none;
}

.plate-selection {
    border-style: solid;
    border-radius: 5px;
    padding: 2%;
    padding-bottom: 10px;
}

#plate-list {
    border-style: solid;
    border-radius: 5px;
    margin: 1px;
    padding: 5px;
}

#plate-options-menu {
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    max-height: 150px;
    overflow: auto;
}